<section class="about-container" id="about">
	<div class="about-content">
		<h1>About</h1>
		<figure class="about-avatar">
			<img class="img-circle" src="holder.js/130x130" alt="Avatar">
		</figure>
		<p>Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor.</p>
		<div class="skills-container row">
			<h3>Skills</h3>
			<ul>
                <li class="skill-container">
                    <div class="skill">
                    	<div class="skill-percent">70%</div>
                    	<div class="skill-slice">
                    		<div class="skill-pie "></div>
                    		<div class="skill-pie fill"></div>
                    	</div>
                    </div>
                </li>
            </ul>
		</div>
	</div>
</section>


