<section class="contact-container" id="contact">
	<div class="contact-content">
		<h1>Contact</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos, ipsa eaque corporis, modi eos delectus adipisci sit mollitia laudantium.</p>
		<div class="contact-form-container">
			<form class="contact-form">
				<div class="input-group">
					<span class="contact-input-addon"><i class="fa fa-user"></i></span>
					<input class="contact-name-input" type="text" placeholder="Name">
				</div>
				<div class="input-group">
					<span class="contact-input-addon"><i class="fa fa-envelope"></i></span>
					<input class="contact-email-input" type="text" placeholder="Email">
				</div>
				<div class="input-group">
					<textarea rows="6" placeholder="Type your message" class="contact-message-textarea"></textarea>
				</div>
				<button class="btn btn-contact pull-right" type="submit" value="Send">Submit</button>
			</form>
		</div>
		<div class="social-media-container">
			<h3>Follow Me On Social Media</h3>
			<div class="social-media-btn-container">
				<a href="" class="social-media-btn btn"><i class="fa fa-facebook"></i><span>Facebook</span></a>
				<a href="" class="social-media-btn btn"><i class="fa fa-twitter"></i><span>Twitter</span></a>
				<a href="" class="social-media-btn btn"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
			</div>
		</div>
	</div>
</section>