<footer class="footer-container">
    <div class="footer-content">
    	<figure class="logo-container">
        	<img class="logo" src="img/footer-logo.svg" alt="Logo">
    	</figure>
		<nav class="footer-menu">
	        <ul>
	            <li><a href="#about">About</a></li>
	            <li><a href="#resume">Resume</a></li>
	            <li><a href="#samples">Samples</a></li>
	            <li><a class="last" href="#contact">Contact</a></li>
	        </ul>
	    </nav>
    </div>

    <script src="../js/wow.js"></script>
	<script src="../js/retina.min.js"></script>
    <script src="../js/holder.js"></script>
    <script src="../js/flowtype.js"></script>
    <script src="../js/numeral.js"></script>
    <script src="../js/app.js"></script>
</footer>