<section class="samples-container" id="samples">
	<div class="samples-content">
		<h1>Samples</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aperiam non aliquam quas! Vero quis numquam, dolorem reprehenderit assumenda rem.</p>
		<div class="samples-audio-container row">
			<div class="samples-audio-column col-md-6">
				<div class="samples-audio-unit">
					<h4>Justo Quam Mollis</h4>
					<time datetime="2008-06-17">June 17, 2008</time>
					<audio id="audio-source" preload="true" ontimeupdate="document.getElementById('tracktime').innerHTML = numeral((this.duration) - (this.currentTime)).format('00:00')">
				  		<source src="http://www.alexkatz.me/codepen/music/interlude.mp3">
						<source src="http://www.alexkatz.me/codepen/music/interlude.ogg">
					</audio>
					<div id="audio-player">
						<button id="play-button" class="play" onclick="play()"></button>
					  	<div id="timeline">    
					  		<div id="playhead"></div>
					  	</div>
					  	<span id="tracktime"></span>
					</div>
				</div>
				<div class="samples-audio-unit">
					<h4>Justo Quam Mollis</h4>
					<time datetime="2008-06-17">June 17, 2008</time>
					<audio id="audio-source" preload="true" ontimeupdate="document.getElementById('tracktime').innerHTML = numeral((this.duration) - (this.currentTime)).format('00:00')">
				  		<source src="http://www.alexkatz.me/codepen/music/interlude.mp3">
						<source src="http://www.alexkatz.me/codepen/music/interlude.ogg">
					</audio>
					<div id="audio-player">
						<button id="play-button" class="play" onclick="play()"></button>
					  	<div id="timeline">    
					  		<div id="playhead"></div>
					  	</div>
					  	<span id="tracktime"></span>
					</div>
				</div>
			</div>
			<div class="samples-audio-column col-md-6">
				<div class="samples-audio-unit">
					<h4>Justo Quam Mollis</h4>
					<time datetime="2008-06-17">June 17, 2008</time>
					<audio id="audio-source" preload="true" ontimeupdate="document.getElementById('tracktime').innerHTML = numeral((this.duration) - (this.currentTime)).format('00:00')">
				  		<source src="http://www.alexkatz.me/codepen/music/interlude.mp3">
						<source src="http://www.alexkatz.me/codepen/music/interlude.ogg">
					</audio>
					<div id="audio-player">
						<button id="play-button" class="play" onclick="play()"></button>
					  	<div id="timeline">    
					  		<div id="playhead"></div>
					  	</div>
					  	<span id="tracktime"></span>
					</div>
				</div>
				<div class="samples-audio-unit">
					<h4>Justo Quam Mollis</h4>
					<time datetime="2008-06-17">June 17, 2008</time>
					<audio id="audio-source" preload="true" ontimeupdate="document.getElementById('tracktime').innerHTML = numeral((this.duration) - (this.currentTime)).format('00:00')">
				  		<source src="http://www.alexkatz.me/codepen/music/interlude.mp3">
						<source src="http://www.alexkatz.me/codepen/music/interlude.ogg">
					</audio>
					<div id="audio-player">
						<button id="play-button" class="play" onclick="play()"></button>
					  	<div id="timeline">    
					  		<div id="playhead"></div>
					  	</div>
					  	<span id="tracktime"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>