// ---------------------
// Colors
// ---------------------

// Main colors
$primary-color: #405870;

// Callout section colors
$callout-main-green: #1ABC9C;
$callout-darker-green: #138A72;

// About section colors
$about-main-tan: #FDE3A7;
$about-darker-tan: #C9B585;
$about-darkest-tan: #968763;

// Resume section colors
$resume-main-red: #E26A6A;
$resume-darker-red: #B05353;
$resume-darkest-red: #7D3B3B;

// Samples section colors
$samples-main-blue: #81CFE0;
$samples-darker-blue: #64A0AD;
$samples-darkest-blue: #46717A;

// Contact section colors
$contact-main-green: #1ABC9C;
$contact-darker-green: #138A72;
$contact-darkest-green: #0C5748;

// Footer section colors
$footer-lighter-primary-color: #5D80A3;

// ---------------------
// Sizes
// ---------------------

// Section containers
$section-container-padding: 30px 0 40px 0;